<h1>Customer Satisfaction Statistic</h1>
<p *ngIf="!questions"><em>Loading...</em></p>

<table class='table' *ngIf="questions">
    <thead>
        <tr>
            <th>Question</th>
            <th>Stats</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let question of questions">
            <td>{{ question.index }}. {{ question.text }}</td>
            <td>
                <statchart [Labels] ="labels"></statchart>
                <!--<tlist [items]="items"></tlist>-->
                <table class='table' *ngIf="question.statResult">
                    <thead>
                        <tr>
                            <th>Response</th>
                            <th>Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of question.statResult">
                            <td>{{ item.text }}</td>
                            <td>{{item.count}}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>