<h1>Customer Satisfaction Survey</h1>

<h2 *ngIf="!questions"><em>Loading...</em></h2>
<h2 *ngIf="saved">Saved</h2>

<form #form="ngForm" (ngSubmit)="submit(form.value)">
  <table class="table" *ngIf="questions">
    <tbody>
      <tr *ngFor="let question of questions">
        <td>
          <label>{{ question.index }}. {{ question.text }}</label>
          <span *ngFor="let opt of question.options">
            <div *ngIf="(question.type == 1)">
              <span style="float: left; margin-right: 1em;"><input type="radio" value="{{opt}}" id="{{ question.id }}" name="{{ question.id }}" ngModel> {{opt}} </span>
          </div>
          <div *ngIf="(question.type == 2)">
              <span style="float: left; margin-right: 1em;"> <input type="checkbox" id="{{ question.id }}_{{opt}}" name="{{ question.id }}_{{opt}}" ngModel> {{opt}} </span>
          </div>
          <div *ngIf="(question.type == 3)">
              <div class="textarea">
                  <textarea class="form-control" rows="5" id="{{ question.id }}" name="{{ question.id }}" ngModel></textarea>
              </div>
          </div>
          <div *ngIf="(question.type == 4)">
              <span style="float: left; margin-right: 2em;"><input type="radio" value="{{opt}}" id="{{ question.id }}" name="{{ question.id }}" ngModel> {{opt}}</span>
          </div>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  <button *ngIf="questions.length > 0" type="submit" class="btn btn-primary btn-block btn-md" style="margin-bottom: 1em;">Submit</button>
</form>
