/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #08413c;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #08413c;
  border-color: #08413c;
}
