    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32"></svg>
        <span class="fs-4">SurveyApp</span>
    </a>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
        <li [routerLinkActive]="['link-active']">
           <a [routerLink]="['/home']" class="nav-link">
                <i class="fa fa-home"></i><span class="ms-2">Home</span>
            </a>
        </li>
        <li [routerLinkActive]="['link-active']">
        <a [routerLink]="['/survey']" class="nav-link">
            <i class="fa fa-question"></i><span class="ms-2">Survey</span>
            </a>
        </li>
        <li [routerLinkActive]="['link-active']">
            <a [routerLink]="['/statistic']" class="nav-link">
            <i class="fa fa-bar-chart"></i><span class="ms-2">Statistic</span>
            </a>
        </li>    
    </ul>
    <hr /> 